* body{
    width: 100%;
    height:100%;
}

html body{
  width: 100%;
  align-items: center;
  background-color: #ffffff;
  
}

.principale {
    display:block;
    align-items:center;
    width:30%;
    height:100vh;

    border: 2px solid #ffffff;
    border-radius: 20px;
    background: linear-gradient(
         0deg,
        #ffffff 0%,
        #ffffff 20%,
        #a4786483 70%,
        #a47864 100%
        
    );
    box-shadow: -10px -10px 30px 0 #ffffff,
               10px 10px 30px 0 #aeaec0f5;
               background-image: url(09.jpg);
               background-size: 1000px;
               background-repeat: no-repeat;
               
               
     }

     #title {
        display:flex;
        justify-content: center;
        width: 100%;
        height:auto;
        padding-top:50px;
        margin-bottom: -40px;
        }

        .oggi-sposi {
            font-family:'Times New Roman', Times, serif ;
            text-align: center;
            color:#6490a4;
            text-shadow: 1px 1px 0px #ffffff,
                    -1px -1px 0px #ffffff;
        }

        #name {
            display:flex;
        justify-content: center;
        width: 100%;
        height:auto;
        padding-top:10px;
        color: #6490a4;
        margin-bottom: -70px;
       
        
        
        }
       .name { 
          text-shadow: 1px 1px 0px #ffffff,
                    -1px -1px 0px #ffffff;
                    font-family: "MonteCarlo", cursive ;
                    font-size: 50px;
       }

        #date{
            display:flex;
        justify-content: center;
        width: 100%;
        height:auto;
        margin: 0 auto;
        margin-top: 40px;
        margin-left:8px ;
        color: #6490a4;
       
        }

        .date{
            display:block;
            text-shadow: 1px 1px 0px #ffffff,
                    -1px -1px 0px #ffffff;
                    font-size: 20px;
            }

        .separatore{
            margin-left: 10px;
            margin-right: 10px;
            color: #6490a4;
        }    

        #location-chiesa{
            display:flex;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        height:auto;
        margin: 0 auto;
        border: 2px solid #ffffff;
        align-items: center;
        margin-top: 40px;
        padding:20px;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 8px 8px 20px #6490a4,
                    inset 4px 4px 10px #533d31;
                    
        }

        .location-chiesa{
            display:block;
            text-align: center;
            color: #533d31;
            margin: 0 auto;
        }

        #location-ricevimento{
               display:flex;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        height:auto;
        margin: 0 auto;
        border: 2px solid #ffffff;
        align-items: center;
        margin-top: 50px;
        padding:20px;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 8px 8px 20px #6490a4,
                    inset 4px 4px 10px #533d31;
        
                    
        }

        .location-ricevimento{
            display:block;
            text-align: center;
            color: #533d31;
            margin: 0 auto;
        }

        .data-separatore{
            width:180px;
            display:flex;
            margin:0 auto;
            justify-content: center;
            color:#6490a4;
            margin-top:20px;
            margin-bottom:-10px ;
        }

        #button{
            display:flex;
            justify-content: center;
            margin-top: 20px;
              
        }
        button{
            
               
               border-radius: 20px;
               background-color:#6490a4;
               color:black;
               padding:20px;
               box-shadow:5px 5px 10px 0 #6490a4,
               -3px -3px 30px 0 #533d31,
               inset -10px -10px 50px 0 #aeaec078,
               inset 3px 3px 5px 0 #ffffff ;
               margin-top: 50px;
               border: 2px solid #ffffff;

        }
        
        a {
            text-decoration: none;
        }

        a:hover p{
            color: #6490a4;
        }

        button:hover{
            color: #ffffff;
        }

        @media(max-width: 768px){
            .principale{
                min-width: 350px;
                height:90vh;
            }
        } 
